* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.3rem;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
}

html::-webkit-scrollbar-track {
  background: #000;
}

section {
  position: relative;
  width: 100%;
  background: #000;
  color: #fff;
}
/* Header Part Start */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: #fff;
  background: #000;
  padding: 0.4rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  z-index: 99;
  /* mix-blend-mode: screen; */
}

.header .logo {
  font-weight: 800;
}

.header .menuIcon .fa-bars {
  display: inline-block;
}

.header .menuIcon .fa-times {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 17rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 999;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.menu ul li {
  padding-top: 0.5rem;
}

.menu ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #111;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

.menu.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menuIcon.active {
  position: relative;
  right: 17rem;
}

.menuIcon.active {
  z-index: 999;
}

.menuIcon.active .fa-bars {
  display: none;
}

.menuIcon.active .fa-times {
  display: flex;
}
/* Header Part End */
/* Home Part Start */
.home {
  min-height: 100vh;
}

.home video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #00f7ff, #d632ff);
  mix-blend-mode: overlay;
}

.home .text {
  position: absolute;
  top: 15rem;
  left: 5rem;
  color: #fff;
  z-index: 10;
  mix-blend-mode: difference;
}

.home .text h2 {
  font-size: 6em;
  font-weight: 900;
  line-height: 1em;
}

.home .text h3 {
  font-size: 4em;
  font-weight: 700;
  line-height: 1em;
}

.home .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
}

.home .text p {
  position: relative;
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
/* Home Part End */
/* About Part Start */
.about div {
  display: flex;
  flex-wrap: wrap;
  min-height: 70%;
}

.about div .background1 {
  display: flex;
  flex: 1 1 60%;
  background: #fff;
  min-height: 100vh;
}

.about div .background2 {
  display: flex;
  flex: 1 1 40%;
  background: #000;
  min-height: 100vh;
}

.about .explainBox {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, #000, #999);
  width: 90%;
  box-shadow: -3px 5px 10px #888;
}

.about .explainBox .textBox {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 6rem;
}

.about .explainBox .textBox .heading {
  position: relative;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.about .explainBox .textBox h3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about .explainBox .textBox p {
  font-size: medium;
}

.about .explainBox .textBox .heading::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  height: 4px;
  width: 99%;
  background: #f00;
}

.about .explainBox .imgBox {
  flex: 1 1 50%;
}

.about .explainBox .imgBox img {
  width: 100%;
}

.about .explainBox a {
  display: inline-block;
  width: fit-content;
  font-size: 1rem;
  background: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 2rem;
  color: #111;
  letter-spacing: 2px;
}
/* About Part End */
/* Training Part Start */
.training {
  padding: 0 1rem;
}

.training .heading {
  position: relative;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.training .heading::before {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 33%;
  height: 4px;
  width: 33%;
  background: #f00;
}

.training .heading h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.training .trainingIntroBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 1rem;
  height: 80vh;
}

.training .trainingIntroBox .trainingIntroBoxDiv {
  position: relative;
  width: 100%;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  box-shadow: -3px 5px 10px #fff;
}

.training .trainingIntroBox .trainingIntroBoxDiv::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #222, #777);
  mix-blend-mode: overlay;
}

.training .trainingIntroBox .trainingIntroBoxDiv:nth-child(1) {
  background: url(./images/about_pic2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.training .trainingIntroBox .trainingIntroBoxDiv:nth-child(2) {
  background: url(./images/training2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.training .trainingIntroBox .trainingIntroBoxDiv:nth-child(3) {
  background: url(./images/training3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.training .trainingIntroBox .trainingIntroBoxDiv:nth-child(4) {
  background: url(./images/training4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: local;
}

.training .trainingIntroBox .trainingIntroBoxDiv .trainingIntroBoxDiv_explain {
  width: 80%;
}

.training
  .trainingIntroBox
  .trainingIntroBoxDiv
  .trainingIntroBoxDiv_explain
  h3 {
  margin-top: 1rem;
}
.training
  .trainingIntroBox
  .trainingIntroBoxDiv
  .trainingIntroBoxDiv_explain
  p {
  margin-top: 1rem;
}
/* Training Part End */
/* Trainer Part Start */
.trainer {
  padding: 0 1rem;
}

.trainer .heading {
  position: relative;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.trainer .heading::before {
  content: "";
  position: absolute;
  bottom: 3rem;
  left: 33%;
  height: 4px;
  width: 33%;
  background: #f00;
}

.trainer .heading h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.trainer .trainerIntroBox {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 0 1rem;
}

.trainer .trainerIntroBox .trainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222;
  height: 95%;
  overflow: hidden;
  z-index: 0;
}

.trainer .trainerIntroBox .trainer::before {
  position: absolute;
  top: -55%;
  left: 40%;
  content: "";
  width: 30%;
  height: 220%;
  background: linear-gradient(#21ffff, #ff11ff);
  animation: animate 4s linear infinite;
  z-index: -2;
}

.trainer .trainerIntroBox .trainer::after {
  content: "";
  position: absolute;
  background: #222;
  inset: 4px;
  z-index: -1;
}

.trainer .trainerIntroBox .trainer:nth-child(2)::before {
  background: linear-gradient(#ff2525, #1f1fd6);
}

.trainer .trainerIntroBox .trainer:nth-child(3)::before {
  background: linear-gradient(#6200ff, #ff0040);
}

.trainer .trainerIntroBox .trainer:nth-child(4)::before {
  background: linear-gradient(#fffb00, #ff5e00);
}

.trainer .trainerIntroBox .trainer:nth-child(5)::before {
  background: linear-gradient(#00ffea, #ff0404);
}

.trainer .trainerIntroBox .trainer:nth-child(6)::before {
  background: linear-gradient(#21ffff, #ff11ff);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.trainer .trainerIntroBox .trainer .imgBox img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.trainer .trainerIntroBox .trainer .textBox {
  color: #fff;
  text-align: center;
}

.trainer .trainerIntroBox .trainer .textBox h1 {
  line-height: 3rem;
}

.trainer .trainerIntroBox .trainer .textBox h3 {
  line-height: 2rem;
}

.trainer .trainerIntroBox .trainer .textBox p {
  line-height: 1.5rem;
}
/* Trainer Part End */

/* Contact Part Start */
.contact {
  padding: 0 1rem;
}

.contact .heading {
  position: relative;
  width: 100%;
  height: 15vh;
  text-align: center;
}

.contact .heading::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 33%;
  height: 4px;
  width: 33%;
  background: #f00;
}

.contact .heading h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--black);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.contact .row form input {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
}
/* Contact Part End */

@media screen and (max-width: 1280px) {
  .contact .row {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1024px) {
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home .text {
    width: 100vw;
    font-size: 140%;
    top: 40%;
    left: 0;
    padding: 2rem;
  }

  .home .text p {
    max-width: none;
  }

  .about .explainBox {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about .explainBox .textBox {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .explainBox .imgBox {
    display: flex;
  }

  .training .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .training .heading::before {
    bottom: 4rem;
    width: 50%;
    left: 25%;
  }

  .training .heading h1 {
    font-size: 4rem;
  }

  .training .trainingIntroBox {
    display: flex;
    flex-direction: column;
  }

  .training .trainingIntroBox .trainingIntroBoxDiv_explain {
    font-size: 200%;
  }

  .training
    .trainingIntroBox
    .trainingIntroBoxDiv
    .trainingIntroBoxDiv_explain
    h3 {
    margin-top: 0;
    display: none;
  }

  .training
    .trainingIntroBox
    .trainingIntroBoxDiv
    .trainingIntroBoxDiv_explain
    p {
    margin-top: 0;
    display: none;
  }

  .trainer .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trainer .heading::before {
    bottom: 4rem;
    width: 50%;
    left: 25%;
  }

  .trainer .heading h1 {
    font-size: 4rem;
  }

  .trainer .trainerIntroBox {
    display: flex;
    flex-direction: column;
    height: 200vh;
  }

  .trainer .trainerIntroBox .trainer {
    margin-bottom: 1rem;
  }

  .trainer .trainerIntroBox .trainer .textBox h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .trainer .trainerIntroBox .trainer .textBox h3 {
    font-size: 1.5rem;
  }

  .trainer .trainerIntroBox .trainer .textBox p {
    display: none;
  }

  .trainer .trainerIntroBox .trainer .textBox p {
    display: none;
  }

  .trainer .trainerIntroBox .trainer .imgBox img {
    width: 15rem;
    height: 15rem;
  }

  .contact {
    min-height: fit-content;
    padding-bottom: 5rem;
  }

  .contact .row {
    flex-wrap: nowrap;
  }

  .contact .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .heading::before {
    bottom: 2rem;
    width: 40%;
    left: 30%;
  }

  .contact .heading h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .trainer .trainerIntroBox .trainer .imgBox img {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 767px) {
  section {
    min-height: 110vh;
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home .text {
    font-size: 60%;
    top: 30%;
    left: 0;
  }

  .about {
    display: flex;
    align-items: center;
  }

  .about .explainBox {
    position: relative;
    top: 0;
    left: 0;
  }

  .about div {
    flex-direction: column;
  }

  .about div .background1 {
    display: none;
  }

  .about div .background2 {
    display: none;
  }

  .about .explainBox {
    top: 5%;
    left: 5%;
    text-align: center;
  }

  .about .explainBox .textBox {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about .explainBox .imgBox {
    display: none;
  }

  .training .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .training .heading::before {
    bottom: 1rem;
    width: 100%;
    left: 0;
  }

  .training .heading h1 {
    font-size: 2.5rem;
  }

  .training .trainingIntroBox {
    display: flex;
    flex-direction: column;
  }

  .training .trainingIntroBox .trainingIntroBoxDiv_explain {
    font-size: 100%;
  }

  .training
    .trainingIntroBox
    .trainingIntroBoxDiv
    .trainingIntroBoxDiv_explain
    h3 {
    margin-top: 0;
    display: none;
  }

  .training
    .trainingIntroBox
    .trainingIntroBoxDiv
    .trainingIntroBoxDiv_explain
    p {
    margin-top: 0;
    display: none;
  }

  .trainer .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .trainer .heading::before {
    bottom: 1rem;
    width: 100%;
    left: 0;
  }

  .trainer .heading h1 {
    font-size: 2.5rem;
  }

  .trainer .trainerIntroBox {
    display: flex;
    flex-direction: column;
    height: 200vh;
  }

  .trainer .trainerIntroBox .trainer .textBox h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .trainer .trainerIntroBox .trainer .textBox h3 {
    font-size: 1.2rem;
  }

  .trainer .trainerIntroBox .trainer .textBox p {
    display: none;
  }

  .trainer .trainerIntroBox .trainer .textBox p {
    display: none;
  }

  .trainer .trainerIntroBox .trainer .imgBox img {
    width: 5rem;
    height: 5rem;
  }

  .contact .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .heading::before {
    bottom: 0;
    width: 100%;
    left: 0;
  }

  .contact .heading h1 {
    font-size: 2.5rem;
  }

  .contact .row form {
    flex: 1 1 45rem;
  }

  .contact .row form h3 {
    font-size: 2.5rem;
  }

  .contact .row form .inputBox {
    margin: 1rem 0;
  }
  .contact .row {
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }

  .contact .row iframe {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section {
    min-height: 105vh;
  }

  .home .text {
    font-size: 100%;
    top: 30%;
    left: 0;
  }

  .about {
    min-height: 50vh;
  }

  .menu.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .menuIcon.active {
    right: 0;
  }

  .menu {
    position: absolute;
    top: 3.2rem;
    right: none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
  }

  .menu ul {
    width: 100%;
    text-align: center;
  }

  .menu ul li a {
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .contact .row iframe {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .about {
    min-height: 60vh;
  }

  .home .text {
    font-size: 60%;
    top: 30%;
    left: 0;
  }
}

@media screen and (max-width: 380px) {
  section {
    min-height: 100vh;
  }

  .about .explainBox .textBox .heading,
  .about .explainBox .textBox h3,
  .about .explainBox .textBox p,
  .about .explainBox .textBox a {
    font-size: 90%;
  }

  .training .heading {
    height: 15vh;
  }

  .trainer .heading {
    height: 15vh;
  }

  .contact .heading {
    height: 10vh;
  }

  .training .heading h1 {
    font-size: 2rem;
  }

  .trainer .heading h1 {
    font-size: 2rem;
  }

  .trainer .heading::before {
    bottom: 1rem;
  }

  .contact .heading h1 {
    font-size: 2rem;
  }

  .contact .row {
    margin: 1rem 0;
  }

  .contact .row form h3 {
    font-size: 2rem;
  }

  .contact .row iframe {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .home .text {
    font-size: 60%;
    top: 20%;
    left: 0;
  }
}
