:root {
  --black: #000;
  --darkGrey: #444;
  --lightGrey: #999;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--lightGrey);
  border-radius: 5px;
}

body {
  background: var(--lightGrey);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--white);
}

.heading span {
  color: var(--white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: linear-gradient(45deg, rgb(199, 228, 233), rgb(184, 168, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--white);
}

header .user .name {
  font-size: 3.5rem;
  color: var(--white);
}

header .user .post {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

header .user .post a {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

header .user .post a i {
  font-size: 2.5rem;
  color: var(--darkGrey);
}

header .user .post a:hover i {
  font-size: 2.8rem;
  color: var(--lightGrey);
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
  width: 35rem;
}

header .navbar ul li a {
  display: block;
  width: 100%;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--white);
  color: var(--darkGrey);
  font-size: 2rem;
  font-weight: bolder;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--darkGrey);
  color: var(--white);
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
  background-attachment: fixed;
  background: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;
}

.home h3 {
  font-size: 2.5rem;
  color: var(--white);
}

.home h1 {
  font-size: 5rem;
  color: var(--white);
}

.home h1 span {
  color: var(--lightGrey);
}

.home p {
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
}

.btn {
  padding: 0.7rem 2rem;
  background: var(--white);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 5rem;
  color: var(--darkGrey);
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--darkGrey);
  color: var(--white);
}

.about {
  background: url('./images/bg9.jpg');
  background-position: center;
  background-size: cover;
}

.about .heading {
  color: var(--lightGrey);
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  padding: 0 0.5rem;
  color: #d3d3d3;
  font-weight: bold;
}

.about .row .counter {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 48rem;
  flex-wrap: wrap;
}

.about .row .counter .box {
  width: 20rem;
  background: var(--white);
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.about .row .counter .box span {
  font-size: 2rem;
  color: var(--lightGrey);
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: var(--black);
}

.about .row .programmingPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--white);
  margin: 6rem 6rem 0 6rem;
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 15px;
}

.about .row .programmingPart .langBox {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.about .row .programmingPart .langBox span {
  flex: 1 1 10%;
  text-align: center;
  font-size: 2rem;
  color: var(--lightGrey);
}

.about .row .programmingPart .langBox .langBar {
  flex: 1 1 90%;
  height: 100%;
  background: var(--darkGrey);
  position: relative;
  border-radius: 15px;
}

.about .row .programmingPart .langBox .langBar::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: calc(var(--i));
  height: 100%;
  background: var(--lightGrey);
  border-radius: 15px;
  animation: animate 3s ease-in-out;
}

@keyframes animate {
  0% {
    width: 0%;
  }

  100% {
    width: calc(var(--i));
  }
}

.career {
  background: url('./images/bg.jpg');
  background-position: center;
  background-size: cover;
}

.career .heading {
  color: var(--lightGrey);
}

.career .career-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.career .career-container .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23vw, 1fr));
  height: 25rem;
  padding: 2rem;
  margin-top: 4rem;
  margin-left: 2rem;
  background: lavender;
  border-left: 0.2rem solid var(--white);
  position: relative;
}

.career .career-container .box span {
  font-size: 1.3rem;
  background: var(--darkGrey);
  color: var(--white);
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career .career-container .box h3 {
  font-size: 2rem;
  color: var(--darkGrey);
  padding-top: 1.5rem;
}

.career .career-container .box p {
  font-size: 1.4rem;
  color: var(--darkGrey);
  padding: 1rem 0;
  text-transform: none;
}

.career .career-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
}

.portfolio {
  background: url('./images/bg4.jpg');
  background-position: center;
  background-size: cover;
}

.portfolio h1 {
  color: #a5a5a5;
}

.portfolio .chooseBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .chooseBox .btn {
  margin: 3rem 2rem 3rem 2rem;
}

.portfolio .frontEnd-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .frontEnd-container.active {
  display: flex;
}

.portfolio .frontEnd-container .row {
  display: flex;
  align-items: center;
}

.portfolio .frontEnd-container .box {
  height: 30rem;
  width: 26rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .frontEnd-container .swiper-slide-active {
  height: 35rem;
}

.portfolio .frontEnd-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.portfolio .frontEnd-container .box .contentsBox {
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: lavenderblush;
  transform: translateY(-100%);
}

.portfolio .frontEnd-container .box .contentsBox span {
  font-size: 3rem;
  font-weight: bolder;
}

.portfolio .frontEnd-container .box .contentsBox p {
  font-size: 1.4rem;
}

.portfolio .frontEnd-container .box .contentsBox .contents {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 2rem;
}

.portfolio .frontEnd-container .box .contentsBox a {
  color: lavenderblush;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  background: #111;
}

.portfolio .frontEnd-container .box .contentsBox:hover {
  color: #00f7ff;
}

.portfolio .frontEnd-container .box:hover .contentsBox {
  transform: translateY(0);
}

.portfolio .frontEnd-container .box:hover img {
  transform: scale(1.2);
}

.portfolio .backEnd-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .backEnd-container.active {
  display: flex;
}

.portfolio .backEnd-container .row {
  display: flex;
  align-items: center;
}

.portfolio .backEnd-container .box {
  height: 30rem;
  width: 26rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.portfolio .backEnd-container .swiper-slide-active {
  height: 35rem;
}

.portfolio .backEnd-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.portfolio .backEnd-container .box .contentsBox {
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: lavenderblush;
  transform: translateY(-100%);
}

.portfolio .backEnd-container .box .contentsBox span {
  font-size: 3rem;
  font-weight: bolder;
}

.portfolio .backEnd-container .box .contentsBox p {
  font-size: 1.4rem;
}

.portfolio .backEnd-container .box .contentsBox .contents {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 2rem;
}

.portfolio .backEnd-container .box .contentsBox a {
  color: lavenderblush;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  background: #111;
}

.portfolio .backEnd-container .box .contentsBox:hover {
  color: #00f7ff;
}

.portfolio .backEnd-container .box:hover .contentsBox {
  transform: translateY(0);
}

.portfolio .backEnd-container .box:hover img {
  transform: scale(1.2);
}

/* game container */
.portfolio .game-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .game-container.active {
  display: flex;
}

.portfolio .game-container .row {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /*  */
}

.portfolio .game-container .box {
  height: 30rem;
  width: 100vw;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  /* margin: 0 2rem; */
  /*  */
}

.portfolio .game-container .swiper-slide-active {
  height: 35rem;
}

.portfolio .game-container .swiper-slide-prev {
  display: none;
}

.portfolio .game-container .swiper-slide-next {
  display: none;
}

.portfolio .game-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.portfolio .game-container .box .contentsBox {
  content: '';
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666;
  opacity: 0.8;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: lavenderblush;
  transform: translateY(-100%);
}

.portfolio .game-container .box .contentsBox span {
  font-size: 3rem;
  font-weight: bolder;
}

.portfolio .game-container .box .contentsBox p {
  font-size: 1.4rem;
}

.portfolio .game-container .box .contentsBox .contents {
  font-size: 2.5rem;
  font-weight: normal;
  margin-top: 2rem;
}

.portfolio .game-container .box .contentsBox a {
  color: lavenderblush;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 5px;
  background: #111;
}

.portfolio .game-container .box .contentsBox:hover {
  color: #00f7ff;
}

.portfolio .game-container .box:hover .contentsBox {
  transform: translateY(0);
}

.portfolio .game-container .box:hover img {
  transform: scale(1.2);
}
/* game container */

.portfolio .contentsBox {
  position: relative;
}

.portfolio .contentsBox .urlBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: fit-content;
  padding: 0.6rem 0.8rem;
  z-index: 999;
  font-size: 2rem;
  background-color: transparent;
  font-weight: 800;
  color: white;
  border-radius: 1rem;
}

.portfolio .contentsBox:hover .urlBtn {
  color: rgb(139, 0, 0, 0.8);
  background-color: #d3d3d3;
}

/* swiper navigation arrow */
.swiper-button-next:active {
  transform: scale(0.8);
}
.swiper-button-prev:active {
  transform: scale(0.8);
}
/* swiper navigation arrow */

.contact {
  background: url('./images/bg3.jpg');
  background-size: cover;
  background-position: center;
}

.contact .heading {
  color: #b6b6b6;
}

.contact .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0 3rem 0;
  background: var(--white);
  color: var(--black);
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: var(--white);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white);
  padding: 1rem 0;
  font-weight: normal;
  text-transform: none;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--white);
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: block;
  background: var(--darkGrey);
  padding: 0.5rem;
  border-radius: 50%;
}

.top:hover {
  background: var(--white);
}

.top:active {
  transform: scale(0.8);
}

/* media queries  */

@media (max-width: 1800px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }

  .about .row .info {
    padding: 0 0 2rem 2rem;
  }

  .about .row .programmingPart {
    margin: 2rem 2rem 0 2rem;
  }

  .about .row .programmingPart .langBox {
    display: block;
  }

  .about .row .programmingPart .langBox .langBar {
    height: 80%;
  }

  .about .row .counter .box {
    width: 20rem;
  }

  .career .career-container {
    justify-content: flex-start;
  }

  .career .career-container .box {
    grid-template-columns: repeat(auto-fit, minmax(35vw, 1fr));
  }
}

@media (max-width: 1700px) {
  .career .career-container {
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .career .career-container {
    justify-content: center;
  }

  .career .career-container .box {
    grid-template-columns: repeat(auto-fit, minmax(65vw, 1fr));
  }
}

@media (max-width: 1200px) {
  .about .row .counter .box {
    width: 30rem;
  }

  .portfolio .box-container .box {
    height: fit-content;
    width: fit-content;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menu {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }

  .about .row .counter .box {
    width: 100%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .portfolio .game-container .box {
    width: 95vw;
  }
}

@media (max-width: 400px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }

  .btn {
    font-size: 1.6rem;
  }
}
