@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  transition: all 0.2s linear;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

:root {
  --blue: #00f;
  --red: #f00;
  --lightBlue: #9cbafa;
  --lightRed: #fa8383;
  --black: #000;
  --lightBlack: #666;
  --white: #fff;
  --sky: #8efff6;
  --darkSky: #0084ff;
  --lightGreen: #80ff9b;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

/* body {
  background-attachment: fixed;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./images/bg2.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  animation: animate 2s linear infinite;
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: url(./images/rain.png);
  animation: rain 10s linear infinite;
} */

body {
  overflow-x: hidden;
}

section {
  padding: 5rem 0;
}

.heading h3 {
  text-transform: capitalize;
  font-size: 10rem;
  font-weight: bold;
  color: var(--lightGreen);
  animation: h3Anim 10s linear infinite;
}

@keyframes h3Anim {
  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px var(--lightGreen), 0 0 20px var(--lightGreen),
      0 0 40px var(--lightGreen), 0 0 80px var(--lightGreen),
      0 0 120px var(--lightGreen), 0 0 180px var(--lightGreen);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 8.5rem;
  background: linear-gradient(
    to left,
    var(--darkSky),
    var(--lightGreen),
    var(--lightRed),
    var(--lightBlue)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .logo a {
  font-size: 5rem;
  color: var(--white);
  font-weight: 900;
}

.header nav a {
  width: 3rem;
  height: 2rem;
  font-size: 3rem;
  color: var(--white);
  margin-right: 2rem;
  font-weight: bold;
}

.header .share a {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: var(--white);
  line-height: 5rem;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(./images/bg2.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: center;
  animation: animate 2s linear infinite;
}

/* .home::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: url(./images/rain.png);
  animation: rain 10s linear infinite;
}

@keyframes rain {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20% 100%;
  }
} */

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.home .heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home .heading h1 {
  font-size: 30rem;
  font-weight: bolder;
  mix-blend-mode: screen;
  animation: h1Anim 10s linear infinite;
}

.home .heading span {
  text-transform: uppercase;
  font-size: 30rem;
  font-weight: bolder;
  mix-blend-mode: screen;
  animation: h1Anim 10s linear infinite;
  display: table-cell;
  color: transparent;
}

.home .heading span:nth-child(8n + 1) {
  animation-delay: 0.5s;
}

.home .heading span:nth-child(8n + 2) {
  animation-delay: 1.25s;
}

.home .heading span:nth-child(8n + 3) {
  animation-delay: 2.35s;
}

.home .heading span:nth-child(8n + 4) {
  animation-delay: 2.75s;
}

.home .heading span:nth-child(8n + 5) {
  animation-delay: 1s;
}

.home .heading span:nth-child(8n + 6) {
  animation-delay: 1.35s;
}

.home .heading span:nth-child(8n + 7) {
  animation-delay: 0.65s;
}

.home .heading span:nth-child(8n + 8) {
  animation-delay: 3.65s;
}

@keyframes h1Anim {
  0%,
  5%,
  10%,
  23%,
  34%,
  45%,
  57%,
  68%,
  85%,
  96% {
    color: #fff;
    filter: blur(2px);
  }

  3%,
  8%,
  19%,
  40%,
  60%,
  79%,
  90%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px var(--lightGreen), 0 0 20px var(--lightGreen),
      0 0 40px var(--lightGreen), 0 0 80px var(--lightGreen);
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: url(./images/bg.jpg);
  /* animation: animate 2s linear infinite; */
}

.about .introBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  width: 100%;
  margin-top: 5rem;
  padding: 0 9%;
}

.about .imgBox {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.about .imgBox::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--lightGreen), var(--lightBlue), var(--sky));
  mix-blend-mode: soft-light;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .explainBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}

.about .explainBox p {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--white);
  text-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.singers {
  background: url(./images/bg3.jpg);
  background-position: center;
  background-size: cover;
}

.introBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 2rem;
}

.introBox .singerIntroBox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  box-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.introBox .singerIntroBox .singerImgBox {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 25rem;
}

.introBox .singerIntroBox .singerImgBox img {
  width: 100%;
}

.introBox .singerIntroBox .singerExplainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 25rem;
  background: rgba(0, 0, 0, 0.6);
}

.introBox .singerIntroBox .singerExplainBox h3 {
  font-size: 3rem;
  color: var(--white);
  text-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.introBox .singerIntroBox .singerExplainBox p {
  font-size: 1.5rem;
  color: var(--white);
  text-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.player {
  background: url(./images/bg4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player .heading {
  align-self: flex-end;
}

.player .musicBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  background: linear-gradient(to right, #5d6d7e, #566573);
  background: rgb(0, 0, 0, 0.8);
  overflow-x: hidden;
  margin-top: 5rem;
}

.player .musicBox .picVolumeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player .musicBox .picVolumeBox div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  align-items: center;
  justify-content: left;
  width: 100%;
  color: linen;
  font-size: 1.6rem;
  margin-left: 3rem;
}

.player .musicBox .picVolumeBox div:nth-child(1) span {
  margin-left: 1rem;
}

.player .musicBox .picVolumeBox .picBox {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.player .musicBox .picVolumeBox .picBox img {
  width: 75%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

.player .musicBox .picVolumeBox .volumeBox {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.player .musicBox .picVolumeBox .volumeBox p {
  font-size: 1rem;
}

.player .musicBox .picVolumeBox .volumeBox i {
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  background: #ff8a65;
}

.player .musicBox .picVolumeBox .volumeBox i:hover {
  background: rgba(245, 245, 245, 0.1);
}

.player .musicBox .picVolumeBox .volumeBox #volume_show {
  padding: 0.35rem 0.6rem;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.1);
}

input[type='range'] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #ff8a65;
  border-radius: 50%;
  cursor: pointer;
}
.duration input[type='range'] {
  width: 40%;
}

.player .musicBox .titleButtonRangeBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
}

.player .musicBox .titleButtonRangeBox .orderBox {
  display: flex;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  background: #798590;
  color: white;
}

.player .musicBox .titleButtonRangeBox .titleSingerBox {
  width: 100%;
  flex: 1 1 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.player .musicBox .titleButtonRangeBox .titleSingerBox #musicTitle {
  font-size: 3rem;
  font-weight: 900;
}

.player .musicBox .titleButtonRangeBox .titleSingerBox #musicSinger {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 2.5rem;
}

.player .musicBox .titleButtonRangeBox .buttonBox {
  width: 100%;
  flex: 1 1 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player .musicBox .titleButtonRangeBox .buttonBox button {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
  border-radius: 50%;
  margin: 0 1rem;
  background: #798591;
  border: none;
  color: white;
  cursor: pointer;
}

.player .musicBox .titleButtonRangeBox .buttonBox button:hover {
  background: #ff8a65;
}

.player .musicBox .titleButtonRangeBox .buttonBox button:nth-child(2) {
  background: #ff8a65;
}

.player .musicBox .titleButtonRangeBox .autoPlayBox {
  width: 100%;
  flex: 1 1 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player .musicBox .titleButtonRangeBox .autoPlayBox #autoPlay {
  padding: 1rem 1.8rem;
  font-size: 2rem;
  background: #798591;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.player .musicBox .titleButtonRangeBox .duration {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 1 4rem;
}

.contact {
  background: url(./images/bg5.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .contactBox {
  display: flex;
  flex-wrap: wrap;
}

.contact .contactBox form {
  flex: 1 1 25rem;
}

.contact .contactBox form .box {
  padding: 2rem 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid var(--lightGreen);
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px var(--lightGreen), 0 0 40px var(--lightGreen);
  color: var(--white);
}

.contact .contactBox form .box:focus {
  border-color: var(--lightGreen);
}

.contact .contactBox form textarea {
  height: 15rem;
  resize: none;
}

.contact .contactBox form .btn {
  display: inline-block;
  border-radius: 5rem;
  padding: 1.2rem 3rem;
  border: 0.2rem solid var(--lightGreen);
  cursor: pointer;
  background: var(--white);
  color: var(--black);
  font-weight: bolder;
  box-shadow: 0 0 20px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.contact .contactBox .qestionsBox {
  flex: 1 1 25rem;
  color: var(--white);
  text-shadow: 0 0 10px var(--lightGreen), 0 0 40px var(--lightGreen);
  margin-left: 3rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 2rem;
}

.contact .contactBox .qestionsBox h3 {
  padding-bottom: 1rem;
  font-size: 5rem;
}

.contact .contactBox .qestionsBox .graph {
  font-size: 2rem;
  color: var(--white);
  line-height: 2;
  padding: 0.5rem 0;
}

.contact .contactBox .qestionsBox .icons {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
}

.contact .contactBox .qestionsBox .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  background: var(--white);
  color: var(--lightBlue);
  margin-right: 2rem;
}

.contact .contactBox .qestionsBox .icons p {
  font-size: 1.5rem;
  text-transform: none;
}

.contact .contactBox .qestionsBox .share {
  padding-top: 0.5rem;
  background: transparent;
}

.contact .contactBox .qestionsBox .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 3rem;
  margin-right: 2rem;
  color: var(--white);
  text-shadow: 0 0 20px var(--lightGreen), 0 0 40px var(--lightGreen);
}

.footer {
  width: 100vw;
  background: linear-gradient(
    to left,
    var(--darkSky),
    var(--lightGreen),
    var(--lightRed),
    var(--lightBlue)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.footer .logo a {
  font-size: 3rem;
  color: var(--white);
  font-weight: 900;
}

/* .footer nav a {
  width: 3rem;
  height: 2rem;
  font-size: 2rem;
  color: var(--white);
  margin-right: 2rem;
  font-weight: bold;
} */

.footer nav p {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: normal;
}

.footer .share {
  margin-right: 2rem;
}

.footer .share a {
  width: 2rem;
  font-size: 2rem;
  color: var(--white);
}

@media screen and (max-width: 1280px) {
  .home .heading span {
    font-size: 25rem;
  }

  .footer .logo {
    display: none;
  }

  .footer nav p {
    width: 100vw;
    font-size: 2rem;
    text-align: center;
  }

  .footer .share {
    display: none;
  }

  .contact .contactBox {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .contactBox form {
    text-align: center;
  }

  .contact .contactBox form .box {
    width: 90%;
  }

  .contact .contactBox .qestionsBox {
    width: 90%;
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .header .logo a {
    font-size: 3.5rem;
  }

  .header nav a {
    font-style: 1.5rem;
    margin-right: 1rem;
  }

  .header .share a {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
  }

  .home .heading span {
    font-size: 20rem;
  }

  .contact .contactBox {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact .contactBox form {
    text-align: center;
  }

  .contact .contactBox form .box {
    width: 90%;
  }

  .contact .contactBox .qestionsBox {
    width: 90%;
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
  }

  .player .musicBox {
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  }

  .player .musicBox .titleButtonRangeBox .titleSingerBox #musicTitle {
    font-size: 4rem;
    text-align: center;
  }

  .player .musicBox .titleButtonRangeBox .titleSingerBox #musicSinger {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .footer nav p {
    font-size: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .header .logo a {
    font-size: 3rem;
  }

  .header nav a {
    font-size: 2rem;
    margin-right: 1rem;
  }

  .header .share a {
    display: none;
  }

  .home .heading span {
    font-size: 14rem;
  }

  .heading h3 {
    font-size: 8rem;
  }

  .about .introBox {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .about .explainBox {
    margin-left: 0;
  }

  .about .explainBox p {
    font-size: 1.5rem;
  }

  .singers .introBox {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .footer nav p {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: 6rem;
  }

  .header .logo a {
    font-size: 1.5rem;
  }

  .header nav a {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  .header .share a {
    display: none;
  }

  .home .heading span {
    font-size: 6rem;
  }

  .heading h3 {
    font-size: 4rem;
  }

  .player .musicBox {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  .player .musicBox .titleButtonRangeBox .titleSingerBox #musicTitle {
    font-size: 1.7rem;
    text-align: center;
  }

  .player .musicBox .titleButtonRangeBox .titleSingerBox #musicSinger {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .contact .contactBox .qestionsBox .icons p {
    font-size: 1.2rem;
  }

  .contact .contactBox .qestionsBox .share a {
    margin-right: 0;
  }

  .player .musicBox .titleButtonRangeBox .buttonBox button {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 360px) {
  .header .logo a {
    font-size: 1.5rem;
  }

  .header nav a {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }

  .player .musicBox .titleButtonRangeBox .buttonBox button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
  }

  .player .musicBox {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  @media screen and (max-width: 280px) {
    .header .logo a {
      font-size: 1.3rem;
    }

    .header nav a {
      font-size: 1.1rem;
      margin-right: 0.2rem;
    }

    .home .heading span {
      font-size: 5rem;
    }

    .player .musicBox .titleButtonRangeBox .buttonBox button {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.2rem;
      border-radius: 50%;
    }

    .footer nav p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
